{{yield}}

{{#link-to 'event' event.id}}
  <div class="event list-item">
    <div>Name: {{event.name}}</div>
    <div>Location: {{event.location}}</div>
    <div>Time: {{moment-calendar event.time}}</div>
  </div>
{{/link-to}}

<h2> Attendance Entries </h2>
{{#each event.attendanceEntries as |entry|}}
  {{#link-to 'user' entry.user.id}}
    <div>{{entry.user.name}}</div>
  {{/link-to}}
{{/each}}
