{{yield}}

{{#link-to 'event' event.id}}
  <div class="event list-item">
    <div>Name: {{event.name}}</div>
    <div>Location: {{event.location}}</div>
    <div>Time: {{moment-calendar event.time}}</div>
  </div>
{{/link-to}}

<h2> Present Attendance Entries </h2>
{{#each event.presentEntries as |entry|}}
  {{#link-to 'user' entry.user.id}}
    <div>{{entry.user.name}}</div>
  {{/link-to}}
{{/each}}

<h2> Absent Attendance Entries </h2>
{{#each event.absentEntries as |entry|}}
  {{#link-to 'user' entry.user.id}}
    <div>{{entry.user.name}}</div>
  {{/link-to}}
{{/each}}
